{% extends "main/base.html" %}
{% block content %}
<h2>Программы</h2>
{% if programs %}
    <ul>
        {% for program in programs %}
            <li>
                <h3>{{ program.title }}</h3>
                <p>{{ program.description }}</p>
                <p>Продолжительность: {{ program.duration }}</p>
                <p>Степень: {{ program.degree }}</p>
                {% if program.link %}
                    <a href="{{ program.link }}">Подробнее</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Программ пока нет.</p>
{% endif %}
{% endblock %}