body {
    background-color: #f8fafc;
}
footer {
    box-shadow: 0 -1px 5px rgba(0,0,0,.08);
}

#mainCarousel,
#mainCarousel .carousel-inner,
    #mainCarousel .carousel-item {
        height: 650px;
        min-height: 400px;
    }
    #mainCarousel .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

input, select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
}
